@media (min-width: 500px) and (max-width: 1200px) {
   #container{
    width: 119vw;
   }
.navbar{
 width: 100%;
 margin-left: 0px;
 padding-left: 30px;
 padding-right: 30px;
 box-sizing: content-box;
 
}

.hero-section {
    text-align: center;
  flex-direction: column;
}

.main-hero-title1ei{
    font-size: 7.3rem !important;
    line-height: 100% !important;
}

.hero-section-para {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem !important;
}


.hero-btns-1 {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: flex;
}

.arrow-container {
  width: 3rem;
  height: 3rem;
  & i{
    font-size: 1.4rem;
  }
}
 

.page-2-playlist-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  & .playlist-box {
    width: 100%;
  }

   



}

.page-2-d-container {
  margin-top: 85%;
}

.page-2 {
    width: 95%;
    
  }

  .album-box-container{
    margin-top: 3%;
    display: grid !important;
    grid-template-columns: repeat(3,1fr);


  }

   .a-c {
     width: 100%;
   }
  .page-4{
    height:fit-content;
  }


  .tc2 {
    margin-left: 0;
  }
 

  .testimonailCard2{
    width: 100%;
  }

  .cd1,.cd2,.cd3,.cd4 {
    margin-left:-4% ;
    width: 180px;
    top:8.1%;
    height:180px ;
  }

  .playlist-box {
    & img{
        width:183px ;
    }
  }

  .footer-para {
    width: 140%;
  }


  .footer-right-side{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     width: 100%;
     margin-left: auto;
     margin-right: auto;
  }
  .about-cmny {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }


  .cmpny-logo{
    text-align: center;
  }
   


  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
  }

  .footer-footer{
    
  }

  .hr{
    margin-top: 18rem;
  }

  .adress {
  
    margin: auto;
    margin-top: 3%;
  }


  .footer-btn {
    margin-top: 10%;
    width: 6rem;
    height: 6rem;
    margin-left: auto;
    margin-right: auto;
      
  }
}





@media   (min-width: 0px) and (max-width: 500px) {
      

  .page-2-d-container {
    margin-top: 13.8rem;
  }
  
   #container{
    width: 120vw;
   }
  .footer-para {
    width: 140%;
  }


  .footer-right-side{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     width: 100%;
     margin-left: auto;
     margin-right: auto;
  }
  .about-cmny {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  footer{
    margin-top: 60%;
  }

  .cmpny-logo{
    text-align: center;
  }
   


  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
  }

  

  .hr{
    margin-top: 24rem;
  }

  .adress {
  
    margin: auto;
    margin-top: 3%;
  }


  .footer-btn {
    margin-top: 10%;
    width: 6rem;
    height: 6rem;
    margin-left: auto;
    margin-right: auto;
      
  }

 
  .my-hamburger {
     width: 2.8rem;
     height: 2.8rem;
    border-radius: 8px;
    border:solid 1px rgba(70, 70, 70, 0.86);
    display: flex !important;
    justify-content: 
    center;
    align-items: center;
    & i{
      font-size: 1.5rem;
      color:rgb(239, 236, 236);
    }
  }
 .nav-items  a li {
   color:white
 }


 .navbar{
  width: 110%;
  margin-left: 0px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: content-box;
   padding: 20px;
  
 }


 
 .nav-items a {
  text-decoration: none;
  list-style-type: none;
  margin-right: 30px;
  font-size:0.98rem;
  font-weight: 600;
 }
 .cmpny-logo {
   margin-right: 4%;
 }
 .flex{
  display: flex;
 }
 .center{
  
  justify-content: start;
  justify-items: center;
 }

 .justify-between{
  justify-content:space-between;
 }
 
.nav-items {
  display: none;
}
 .cmpny-logo {
   color:white;
   letter-spacing: 10px;
 }

 .h1{
  display: block;
  transform: rotate(45deg);
  transform-origin: 10% 20%;
  color:rgb(39, 253, 71);
  font-size: 40px;


 }
  .flex-col{
    display: flex;
    flex-direction: column;

  }
  .logo-txt {
     margin-top: 10px;
    font-size: 30px;
  }

  nav:nth-child(3) {
  display: flex;
  gap:4;
  }

  .slbtn{
    display: flex;
    gap: 20px;
    display: none;
  }
  .slbtn:nth-child(3) a:nth-of-type(1) {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    background-color: white;
    border-radius:10ch;
    font-weight: 600;
    color:black
  }
  .slbtn:nth-child(3) a:nth-of-type(2) {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    background-color: rgb(30, 247, 62);
    border-radius:10ch;
    font-weight: 600;
    color:black;
  }

  .slbtn:nth-child(3) a:nth-of-type(2):hover{
    scale:1.03;
  }
  .slbtn:nth-child(3) a:nth-of-type(1):hover{
    scale:1.03;
  }



  /* =======nav-bar================== */

  /* =================hero-section============ */
   

   
  
  /* =================hero-section============ */


  /* ==========scrollbar-hidden======= */
     ::-webkit-scrollbar{
      display: none;
     }
  /* ==========scrollbar-hidden======= */


  .hero-section {
    margin-top: 40px;
    text-align: center;
  flex-direction: column;
}

.main-hero-title1ei{
  
    font-size: 4.2rem !important;
    line-height: 140% !important;

}

.hero-section-para {
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9rem !important;
}


.hero-btns-1 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: flex;
  font-size: 1.4rem;
}

.arrow-container {
  width: 3rem;
  height: 3rem;
  & i{
    font-size: 1.4rem;
  }
}
 


.page-2-playlist-container{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  
   
 
}


.playlist-box{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
 
}

.searchbox{
width: 100%;
margin-top: 10%;
}



 
.album-box-container{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  ;
}


.a-c{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
 


.page-4{
  margin-top: 19%;
  display: flex;
  flex-direction: column;
 }


 .test-container {
   width: 100% !important;
   margin-left: auto;
   margin-right: auto;
 }

 .tc2 {
   margin-left: 0;
 }
 .testimonailCard2 {
  width: 100%;
   margin-left: auto;
   margin-right: auto;
 }

 .page-4:nth-child(2){
  width: 100% !important;
 }

 .form-right-sideof{
  width: 100% !important;
 }



 .footer-btn {
   width: 2.4rem;
 
  & i{

    font-size: 2.2rem;
  }
    
}


.footer-btn::after {
   height: 2rem;
  left: 10px;
}








 
































}


@media (min-width: 0px) and (max-width: 320px) {
  .navbar{
    margin-right: 25px;
    margin-left: 25px;
  }
}









@media (min-width:1200px) and (max-width:1300px) {
  .navbar {
    width: 100%;
    margin-left: 0px;
    padding-left: 10px;
    padding-right:10px
  }

  .page-2-playlist-container {
    display: grid;
    gap:20px;
    grid-template-columns: repeat(4,1fr);
    & .playlist-box {
      width: 103%;
    }
  }

  .hero-btns {
    width: 130%;
  }

  .page-2-d-container {
    margin-top: 14rem;
  }

  .album-box-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    & .a-c {
      width: 100%;
    }
  }

  .page-4{
    margin-top: 8%;
  }
  .footer-para {
    width: 120%;
  }
}